<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.ordering.mapper.MsOrderMapper">

    <resultMap id="MsTableOrderListVoMap" type="com.mashang.ordering.domain.vo.MsTableOrderListVo">
        <id column="order_id" property="orderId"/>
        <result column="table_id" property="tableId"/>
        <result column="store_id" property="storeId"/>
        <result column="user_id" property="userId"/>
        <result column="store_name" property="storeName"/>
        <result column="table_number_prefix" property="tableNumberPrefix"/>
        <result column="table_number" property="tableNumber"/>
        <result column="nick_name" property="nickName"/>
        <result column="user_name" property="userName"/>
        <result column="phonenumber" property="phoneNumber"/>
        <result column="actual_pay" property="actualPay"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_time" property="payTime"/>
        <result column="order_status" property="orderStatus"/>
        <result column="order_details" property="orderDetails"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <select id="getMsTableOrderListVo" resultMap="MsTableOrderListVoMap">
        SELECT
            t1.order_id,
            t3.table_id,
            t4.store_id,
            t5.user_id,
            t4.store_name,
            t3.table_number_prefix,
            t3.table_number,
            t5.nick_name,
            t5.user_name,
            t5.phonenumber,
            t1.actual_pay,
            t1.pay_type,
            t1.pay_time,
            t1.order_status,
            JSON_ARRAYAGG(
                    JSON_OBJECT(
                            'order_detail_id',
                            t2.order_detail_id,
                            'product_id',
                            t2.product_id,
                            'product_name',
                            t6.product_name,
                            'product_cover_url',
                            t6.product_cover,
                            'product_quantity',
                            t2.product_quantity,
                            'product_price',
                            t2.product_price,
                            'specification',
                            t2.specification
                    )
            ) AS order_details
        FROM
            ms_order AS t1
                JOIN ms_order_detail AS t2 ON t1.order_id = t2.order_id
                JOIN ms_table AS t3 ON t1.table_id = t3.table_id
                JOIN ms_store AS t4 ON t4.store_id = t3.store_id
                JOIN sys_user AS t5 ON t1.user_id = t5.user_id
                JOIN ms_product AS t6 ON t2.product_id = t6.product_id
        ${ew.customSqlSegment}
        GROUP BY
            t1.order_id
        ORDER BY
            t1.order_id ASC,
            t2.cumulative_add_count ASC
    </select>

    <resultMap id="MsTableOrderDtoMap" type="com.mashang.ordering.domain.vo.MsTableOrderDto">
        <id column="order_id" property="orderId"/>
        <result column="table_id" property="tableId"/>
        <result column="store_id" property="storeId"/>
        <result column="user_id" property="userId"/>
        <result column="store_name" property="storeName"/>
        <result column="pickup_number" property="pickupNumber"/>
        <result column="table_number" property="tableNumber"/>
        <result column="diners_number" property="dinersNumber"/>
        <result column="order_number" property="orderNumber"/>
        <result column="product_total" property="productTotal"/>
        <result column="product_total_price" property="productTotalPrice"/>
        <result column="points_deduction" property="pointsDeduction"/>
        <result column="actual_pay" property="actualPay"/>
        <result column="create_time" property="createTime"/>
        <result column="pay_time" property="payTime"/>
        <result column="pay_type" property="payType"/>
        <result column="order_items" property="orderItems"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <select id="getMsTableOrderDto" resultMap="MsTableOrderDtoMap">
SELECT
  t1.order_id,t3.table_id,t4.store_id,t5.user_id,
  t4.store_name,                                                          #门店名
  t1.pickup_number,                                                       #取餐号
  CONCAT(t3.table_number_prefix, "-", t3.table_number) AS table_number,   #桌位号
  t1.diners_number,                                                       #就餐人数
  t1.order_number,                                                        #订单号
  SUM(t2.cumulative_add_count_sum) AS product_total,                      #商品总数
  t1.product_total_price,                                                 #商品总价
  t1.points_deduction,                                                    #积分抵扣
  t1.actual_pay,                                                          #实际支付
  t1.create_time,                                                         #创建时间
  t1.pay_time,                                                            #支付时间
  t1.pay_type,                                                            #支付类型
  JSON_ARRAYAGG(JSON_OBJECT(
    'cumulative_add_count',  t2.cumulative_add_count,
    'products',              t2.products
  )) AS order_items                                                       #每次下单订单项
FROM
  ms_order AS t1
  JOIN (
    SELECT
      t0.order_id,                                                        #所属订单id
      t0.cumulative_add_count,                                            #本次加菜数 0表示第一次下单
      COUNT(t0.order_detail_id) AS cumulative_add_count_sum,              #本次点餐数
      JSON_ARRAYAGG(JSON_OBJECT(
          'order_detail_id',          t0.order_detail_id,                 #订单详情id
          'product_quantity',         t0.product_quantity,                #商品数量
          'total_amount',             t0.total_amount,                    #商品总价
          'product_id',               t0.product_id,                      #商品id
          'product_name',             t0.product_name,                    #商品名称
          'specification',            t0.specification,                   #商品规格
          'product_price',            t0.product_price,                   #商品价格
          'product_total_price',      t0.product_price*t0.total_amount,   #商品价格
          'create_time',              t0.create_time                      #创建时间
      )) AS products                                                      #每次下单订单项
    FROM
      ms_order_detail AS t0
    GROUP BY
      t0.order_id, t0.cumulative_add_count
  ) AS t2 ON t1.order_id = t2.order_id
  JOIN ms_table AS t3 ON t1.table_id = t3.table_id
  JOIN ms_store AS t4 ON t4.store_id = t3.store_id
  JOIN sys_user AS t5 ON t1.user_id = t5.user_id
    ${ew.customSqlSegment}
GROUP BY
  t1.order_id
ORDER BY
  t1.order_id ASC, t2.cumulative_add_count ASC
    </select>

    <!-- 分页模糊查询条件 -->
    <sql id="page_condition">
        <where>
            <if test="storeIds != null and storeIds.size() > 0">
                AND ms_order.store_id IN
                <foreach collection="storeIds" item="storeId" open="(" separator="," close=")">
                    #{storeId}
                </foreach>
            </if>

            <!--  -->
            <if test="buyType != null and buyType != ''">
                AND ms_order.buy_type = #{buyType}
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                AND ms_order.order_status = #{orderStatus}
            </if>
            <if test="payType != null and payType != ''">
                AND ms_order.pay_type = #{payType}
            </if>
            <if test="orderNumber != null and orderNumber != ''">
                AND ms_order.order_number LIKE CONCAT('%', #{orderNumber}, '%')
            </if>
            <if test="userName != null and userName != ''">
                AND sys_user.user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND sys_user.phonenumber LIKE CONCAT('%', #{phonenumber}, '%')
            </if>
            <if test="startTime != null">
                AND ms_order.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND ms_order.create_time &lt;= #{endTime}
            </if>

        </where>
    </sql>

    <resultMap id="MsOrderListPageVo" type="com.mashang.ordering.domain.vo.MsOrderListPageVo">
        <!-- 订单基本信息 -->
        <id column="order_id" property="orderId"/>
        <result column="store_name" property="storeName"/>
        <result column="order_number" property="orderNumber"/>
        <result column="table_number" property="tableNumber"/>
        <result column="actual_pay" property="actualPay"/>
        <result column="pickup_number" property="pickUpNumber"/>
        <result column="userIdAndNickname" property="userIdAndNickname"/>
        <result column="usernameAndPhone" property="usernameAndPhone"/>
        <result column="pay_type" property="payType"/>
        <result column="buy_type" property="buyType"/>
        <result column="reserve_pick_time" property="reservePickTime"/>
        <result column="order_status" property="orderStatus"/>
        <result column="pay_time" property="payTime"/>
        <result column="create_time" property="createTime"/>

        <!-- 商品明细列表 -->
        <collection property="productInfoList" ofType="com.mashang.ordering.domain.vo.MsUserOrderProductInfoVo">
            <result column="product_image" property="productImage"/>
            <result column="productNameAndSpecification" property="productNameAndSpecification"/>
            <result column="productPriceAndQuantity" property="productPriceAndQuantity"/>
        </collection>
    </resultMap>

    <!-- 模糊分页查询订单列表 -->
    <select id="selectOrderPage" parameterType="com.mashang.ordering.domain.param.selete.MsOrderPageParam"
            resultMap="MsOrderListPageVo">
        SELECT
        ms_order.order_id,
        ms_store.store_name,
        ms_order.order_number,
        ms_table.table_number,
        ms_order.actual_pay,
        ms_order.pickup_number,

        CONCAT(ms_order.user_id, '|', IFNULL(sys_user.nick_name, '')) AS userIdAndNickname,
        CONCAT(IFNULL(sys_user.user_name, ''), '|', IFNULL(sys_user.phonenumber, '')) AS usernameAndPhone,

        ms_order_detail.product_image,
        CONCAT(ms_order_detail.product_name, ' - ', IFNULL(ms_order_detail.specification, '')) AS productNameAndSpecification,
        CONCAT('￥', ms_order_detail.product_price, ' * ', ms_order_detail.product_quantity) AS productPriceAndQuantity,

        ms_order.pay_type,
        ms_order.buy_type,
        ms_order.reserve_pick_time,
        ms_order.order_status,
        ms_order.pay_time,
        ms_order.create_time
        FROM
        ms_order
        INNER JOIN ms_store ON ms_order.store_id = ms_store.store_id
        INNER JOIN ms_table ON ms_store.store_id = ms_table.store_id
        AND ms_order.table_id = ms_table.table_id
        INNER JOIN sys_user ON ms_order.user_id = sys_user.user_id
        INNER JOIN ms_order_detail ON ms_order.order_id = ms_order_detail.order_id
        <include refid="page_condition"/>
        ORDER BY
        ms_order.create_time DESC,
        ms_order.order_id DESC,
        ms_order_detail.order_detail_id ASC
    </select>

</mapper>