<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.ordering.mapper.MsSpecificationMapper">

    <resultMap id="SpecificationListVoResultMap" type="com.mashang.ordering.domain.vo.MsSpecificationVo">
        <id property="specificationId" column="specification_id"/>
        <result property="specificationName" column="specification_name"/>
        <result property="sort" column="sort"/>
        <result property="specsAndAttrs" column="attr_and_specs" typeHandler="com.mashang.ordering.utils.JsonSpecificationTypeHandle"/>
    </resultMap>
    
    <select id="getAllSpecifications" resultMap="SpecificationListVoResultMap">
        SELECT
            t0.specification_id,
            t0.specification_name,
            t0.sort,
            CASE
                WHEN COUNT(t1.specification_type_id) = 0 THEN
                    CAST('[]' AS JSON)
                ELSE
                    JSON_ARRAYAGG(JSON_OBJECT('specificationTypeId', t1.specification_type_id, 'specificationTypeName', t1.specification_type_name, 'specificationValues', t1.`values`))
                END AS attr_and_specs
        FROM
            ms_specification AS t0
                LEFT JOIN (
                SELECT
                    t2.specification_type_id AS specification_type_id,
                    t2.specification_type_name AS specification_type_name,
                    t2.specification_id AS specification_id,
                    CASE
                        WHEN COUNT(t1.specification_value_id) = 0 THEN
                            CAST('[]' AS JSON)
                        ELSE
                            JSON_ARRAYAGG(JSON_OBJECT('specificationValueId', t1.specification_value_id, 'attr', t1.attr, 'specs', t1.specs))
                        END AS `values`
                FROM
                    ms_specification_value AS t1
                        JOIN ms_specification_type AS t2 ON t1.specification_type_id = t2.specification_type_id
                WHERE
                    t1.del_flag=0 AND t2.del_flag=0
                GROUP BY
                    t1.specification_type_id
            ) AS t1 ON t0.specification_id = t1.specification_id
        WHERE
            t0.del_flag=0
        GROUP BY
            t0.specification_id
        ORDER BY
            t0.sort
    </select>

    <select id="getSpecificationById" resultMap="SpecificationListVoResultMap">
        SELECT
            t0.specification_id,
            t0.specification_name,
            t0.sort,
            CASE
                WHEN COUNT(t1.specification_type_id) = 0 THEN
                    CAST('[]' AS JSON)
                ELSE
                    JSON_ARRAYAGG(JSON_OBJECT('specificationTypeId', t1.specification_type_id, 'specificationTypeName', t1.specification_type_name, 'specificationValues', t1.`values`))
                END AS attr_and_specs
        FROM
            ms_specification AS t0
                LEFT JOIN (
                SELECT
                    t2.specification_type_id AS specification_type_id,
                    t2.specification_type_name AS specification_type_name,
                    t2.specification_id AS specification_id,
                    CASE
                        WHEN COUNT(t1.specification_value_id) = 0 THEN
                            CAST('[]' AS JSON)
                        ELSE
                            JSON_ARRAYAGG(JSON_OBJECT('specificationValueId', t1.specification_value_id, 'attr', t1.attr, 'specs', t1.specs))
                        END AS `values`
                FROM
                    ms_specification_value AS t1
                        JOIN ms_specification_type AS t2 ON t1.specification_type_id = t2.specification_type_id
                WHERE
                    t1.del_flag=0 AND t2.del_flag=0
                GROUP BY
                    t1.specification_type_id
            ) AS t1 ON t0.specification_id = t1.specification_id
        WHERE
            t0.del_flag=0 AND t0.specification_id = #{id}
        GROUP BY
            t0.specification_id
        ORDER BY
            t0.sort
    </select>

</mapper>