<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.ordering.mapper.MsUserProductMapper">

    <resultMap id="ProductResultMap" type="com.mashang.ordering.domain.vo.MsUserProductListVo">
        <id column="product_id" property="productId"/>
        <result column="product_categories_id" property="productCategoriesId"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_cover" property="productCover"/>
        <result column="product_introduction" property="productIntroduction"/>
        <result column="specs_and_attrs" property="specsAndAttrs" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <select id="getList" resultMap="ProductResultMap">
        SELECT
        p.product_id,
        p.product_categories_id,
        p.product_name,
        p.product_price,
        p.product_cover,
        p.product_introduction,
        CAST(
        CONCAT(
        '[',
        GROUP_CONCAT(
        JSON_OBJECT(
        'specificationTypeId', st.specification_type_id,
        'type', st.specification_type_name,
        'values', (
        SELECT JSON_ARRAYAGG(
        JSON_OBJECT(
        'specificationValueId', sv2.specification_value_id,
        'value', sv2.specs,
        'addPrice', sv2.attr
        )
        )
        FROM ms_specification_value sv2
        WHERE sv2.specification_type_id = st.specification_type_id
        AND sv2.del_flag = 0
        )
        ) SEPARATOR ','
        ),
        ']'
        ) AS JSON
        ) AS specs_and_attrs
        FROM ms_product p
        INNER JOIN ms_store_product sp
        ON p.product_id = sp.product_id
        INNER JOIN ms_specification s
        ON p.specification_id = s.specification_id
        INNER JOIN ms_specification_type st
        ON s.specification_id = st.specification_id
        WHERE p.status = 1
        AND sp.store_id = #{storeId}
        AND st.del_flag = 0

        <if test="productCategoriesId != null">
            AND p.product_categories_id = #{productCategoriesId}
        </if>
        <if test="keyWord != null and keyWord != ''">
            AND (
            p.keyword = #{keyWord}
            OR p.product_name LIKE concat('%', #{keyWord}, '%')
            )
        </if>
        GROUP BY p.product_id
    </select>

    <resultMap id="UserProductDtlResultMap" type="com.mashang.ordering.domain.vo.MsUserProductDtlVo">
        <id column="product_id" property="productId"/>
        <result column="categories_name" property="categoriesName"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_cover" property="productCover"/>
        <result column="product_carousel" property="productCarousel"/>
        <result column="product_introduction" property="productIntroduction"/>
        <result column="product_description" property="productDescription"/>
        <result column="earn_points" property="earnPoints"/>
        <result column="specs_and_attrs" property="specsAndAttrs" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <select id="getDtl" resultMap="UserProductDtlResultMap">
        SELECT
            p.product_id,
            c.categories_name,
            p.product_name,
            p.product_price,
            p.product_cover,
            p.product_carousel,
            p.product_introduction,
            p.product_description,
            p.earn_points,
            CAST(
                    CONCAT(
                            '[',
                            GROUP_CONCAT(
                                    JSON_OBJECT(
                                            'specificationTypeId', st.specification_type_id,
                                            'type', st.specification_type_name,
                                            'values', (
                                                SELECT JSON_ARRAYAGG(
                                                               JSON_OBJECT(
                                                                       'specificationValueId', sv.specification_value_id,
                                                                       'value', sv.specs,
                                                                       'addPrice', sv.attr
                                                               )
                                                       )
                                                FROM ms_specification_value sv
                                                WHERE sv.specification_type_id = st.specification_type_id
                                                  AND sv.del_flag = 0
                                            )
                                    ) SEPARATOR ','
                            ),
                            ']'
                    ) AS JSON
            ) AS specs_and_attrs
        FROM ms_product p
                 INNER JOIN ms_specification s ON p.specification_id = s.specification_id
                 INNER JOIN ms_specification_type st ON s.specification_id = st.specification_id
                 INNER JOIN ms_categories c ON p.product_categories_id = c.categories_id
        WHERE
            p.product_id = #{id}
          AND p.del_flag = 0
          AND p.status = 1
          AND st.del_flag = 0
        GROUP BY p.product_id
    </select>
</mapper>